.about_container {
    width: 100%;
    height: 100%;
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about_container .left {
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
}

.about_container .left p {
    margin: 1.2rem 0;
}

.about_container .right {
    max-width: 700px;
}

.right .about-img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    text-align: center;
    align-items: center;
    position: relative;
}

.right img {
    max-width: 90%;
    border: 1px solid #333;
}

.right .top {
    grid-column: 1/span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}

.right .bottom {
    grid-column: 4/ -2;
    grid-row: 1;
    z-index: 5;
}