.error_container {
    width: 100%;
    height: 60vh;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error_container h1 {
    font-size: 4rem;
    color: crimson;
}

.error_container h4 {
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: 300;
}