@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

h1,
h4,
p,
a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  padding: 10px 30px;
  background: orange;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-light {
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: #2e2e2e;
  color: #fff;
  transition: 0.2s linear;
}

body {
  background: #000;
}